.p {
    /* background-color: rgb(255, 206, 214); */
    /* background-color: #ffba60; */
    background: linear-gradient(to left, #fc6767, #ec008c);

}

.nav {
    background-color: rgb(255, 206, 214);
}

.btn {
    background-color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid #3bd9d9;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    background: black;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.btn:hover::before {
    left: calc(100% + 32px);
    transition: .75s;
}

.btn>a {
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    color: black;
}


.intro {
    background-image: url('/assets/images/bg/bghome.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    text-shadow: 6px 0px 2px rgba(0, 0, 0, 0.6);
    font-family: 'Fira Code';

}


.home {
    height: auto;
    width: 100%;
}

.home-content {
    overflow-x: auto;
}

.card>img {
    padding: 9px;
    margin: auto;
    aspect-ratio: 9/16;
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
}

.deskripsi-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;   
    text-align: center;
    padding: 2em;
}

.gambar-deskripsi-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
}

.kedua {
    order: 2;
}

.ketiga {
    order: 1;
}



.gambar-deskripsi-1 > img {
    width: 50%;
}

/* FORM */

.login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.sign-up {
    position: relative;
    width: 40%;
    height: 565px;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1rem rgb(0, 0, 0);
    isolation: isolate;
    margin: auto;
}

.sign-up::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to left, #fc6767, #ec008c);
    border-radius: 1rem 1rem 100% 100%;
    z-index: -1;
}

.form-title {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.sign-up>form {
    padding: 2.5rem;
    background-color: inherit;
}

.daftar {
    height: 10rem;
}

.form-input {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.form-input>i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #fc6767;
}

.form-input input {
    position: relative;
    width: 100%;
    font: inherit;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
}

.form-input .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.form-input .bar::before {
    content: "";
    position: absolute;
    background-color: #fc6767;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.form-input>input:focus+.bar::before {
    transform: scaleX(1);
}

.form-button {
    display: block;
    margin: 2.5rem auto 3rem;
    padding: 1rem 5rem;
    background: linear-gradient(to left, #fc6767, #ec008c);
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
}

.form-button:hover {
    background: linear-gradient(to right, #fc6767, #ec008c);
}

.regis {
    color: black;
}

footer {
    background-color: pink;
    width: 100%;
    height: 155px;
    display: flex;
    flex-wrap: wrap;
}

.kontak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.kontak > img {
    padding-top: 1em;
    padding-left: 2em;
    width: 100px;
}

.kontak > p {
    padding-left: 2em;
    font-size: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


.icon > a {
    padding-right: 1em;
    font-size: 20px;
    color: black;
}

.help {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.copy > p {
    margin-bottom: 0%;
    text-align: center;
}





/* FORM END */
@media screen and (max-width: 650px) {
    .sign-up {
        width: 80%;
    }

    .content-1 {
        display: flex;
        flex-direction: column;
    }

    .deskripsi-1 {
        width: 100%;
        height: 20%;
    }

    .gambar-deskripsi-1 {
        width: 100%;
    }

    .kedua {
        order: 1;
    }

    .ketiga {
        order: 2;
    }

    footer {
        height: auto;
    }


    .kontak {
        width: 100%;
    }

    .kontak > img {
        width: 20%;
    }

    .list {
        width: 100%;
        padding-bottom: 1em;
    }
}